// fonts
$font-base: Montserrat, sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$text-color: #444;


//base of BS breakpoints
$screen-xs:					0;
$xs:						$screen-xs;
$screen-sm:					576px;
$sm:						$screen-sm;
$screen-md:					768px;
$md:						$screen-md;
$screen-lg:					992px;
$lg:						$screen-lg;
$screen-xl:					1200px;
$xl:						$screen-xl;



